/* IMPORTANTE */
* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

html {
    /* 1px = 0.1rem */
    font-size: 62.5%;
    font-family: "Be Vietnam Pro";
}

:root {
    /* Font-size */
    --title: 6.4rem;
    --header: 3.2rem;
    --text: 1.6rem;
    --label: 1.4rem;

    /* Colors */
    --background: #4036A9;
    --text-input: #111729;
    --text-placeholder: #CDD5E0;
    --background-input: #F8FAFC;
    --white: #FFFFFF;
}

body {
    width: 100vw;
    height: 100vh;
    /* background: linear-gradient(-50deg, #7329c4, #cc4d8d); */
    background-image: url(..//Resources/bg-image.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    align-self: start;
    padding: 2.8rem;
}

/* Initial Text */
.text {
    padding: 2rem;
    padding-top: 0;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 4.4rem;
}

.text h1 {
    font-size: 4.8rem;
    margin-bottom: 1.8rem;
    /* font-size: var(--title); */
}

.text p {
    font-size: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    line-height: 3rem;
    margin: 0;
    /* font-size: var(--header); */
}

/* Form */
.container_form {
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.247);
    height: auto;
    width: auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

label {
    font-size: var(--label);
    color: white;
}

.inputs {
    border: none;
    border-radius: 2rem;
    height: 7rem;
    width: 40rem;
}
